#left {
    left: -8.33%;
    text-align: center;
    float: left;
    width: 50%;
    z-index: -10;
  }
  
  #right {
    left: 31.25%;
    top: 75px;
    float: right;
    text-align: center;
    z-index: -10;
    width: 50%;
  }

  #left23 {
    left: -8.33%;
    text-align: center;
    float: left;
    width: 66%;
    z-index: -10;
  }
  
  #right13 {
    left: 31.25%;
    top: 75px;
    float: right;
    text-align: center;
    z-index: -10;
    width: 34%;
  }